* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom,
            #009688 15%,
            #DADBD4 15%);
    font-family: sans-serif;
}

#app {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.container {
    width: 85%;
    height: 95%;
    display: grid;
    grid-template-columns: 34% 66%;
    background-color: whitesmoke;
}

.contacts {
    height: 100%;
}

.profile,
.contact-profile {
    height: 8%;
    background-color: #EAEAEA;
    border: 1px solid black;
}

.profile {
    padding-inline: 10px;
    display: flex;
}

.profile-avatar {
    flex: 1 0 0;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.profile-avatar img {
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.profile-options {
    flex: 0 0 1;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.profile i {
    font-size: 1.5rem;
    color: #B1B1B1;
}

.profile i:hover {
    color: black;
}

.notification {
    padding-inline: 20px;
    height: 9%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: #8EDAFD;
}

.notification-bell {
    width: 45px;
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    background-color: white;
    border-radius: 50%;
}

.notification-bell i {
    font-size: 1.3rem;
    color: #8EDAFD;
}

.notification-activation {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    font-size: 0.8rem;
}

.notification-activation p {
    text-decoration: underline;
}

.search {
    padding-inline: 10px;
    height: 6%;
    display: grid;
    place-items: center;
    background-color: #EAEAEA;
}

.search-input {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
    border: 0.5px solid rgb(200, 200, 200);
    border-radius: 0.2rem;
    overflow: hidden;
}

.search-input label {
    padding: 0.5rem;
    font-size: 0.8rem;
    color: grey;
    border-right: 0.5px solid rgb(200, 200, 200);
}

.search-input input {
    width: 100%;
    padding: 0.5rem;
    border: unset;
}

.chat {
    height: 100%;
    background-color: red;
}